<clr-modal [(clrModalOpen)]="show" clrModalSize="md" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Delete {{table.name}}?</h3>
    <div class="modal-body" clrModalContent>
        <p>id:{{table.id}}</p>
        <p>name:{{table.name}}</p>
        <p>capacity:{{table.maxCovers}}</p>

        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false" >Cancel</button>
          <button class="btn btn-primary" (click)="onDelete()">Confirm</button>
        </div>
      
    </div>
  </clr-modal>
