<clr-modal [(clrModalOpen)]="showReStockForm" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Restock</h3>
    <div class="modal-body" clrModalContent>
        <form clrForm clrLayout="vertical"  (ngSubmit)="onSubmit();" [formGroup]="reStockForm">
          <clr-input-container>
            <label class="clr-control-label clr-required-mark">Units</label>
            <input clrInput type="text" formControlName="additionalUnits" required/>
            <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
          </clr-input-container>
  
          <div class="modal-footer" clrModalActions>
            <button class="btn btn-outline" (click)="showReStockForm=false" >Cancel</button>
            <button class="btn btn-primary" [disabled]="!reStockForm.valid">OK</button>
          </div>
        </form>
      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="showConfirmWasteDialog" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
      <h3 class="modal-title" clrModalTitle>Restock</h3>
      <div class="modal-body" clrModalContent>
         
            <h6>{{stk.remainingUnits}} leftovers are in the stock. Is it waste?</h6>
    </div>
            <div class="modal-footer" clrModalActions>
              <button class="btn btn-outline" (click)="onConfirmNoWaste()">No</button>
              <button class="btn btn-primary" (click)="onConfirmWaste()">Yes</button>
            </div>
      </clr-modal>

<clr-modal [(clrModalOpen)]="showAddStockForm" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
  <h3 class="modal-title" clrModalTitle>Restock</h3>
  <div class="modal-body" clrModalContent>
        <form clrForm clrLayout="vertical"  (ngSubmit)="onSubmit();" [formGroup]="addStockForm">
          <clr-input-container>
            <label class="clr-control-label clr-disabled">Product</label>
            <input clrInput type="text" formControlName="productName" required/>
          </clr-input-container>

          <clr-date-container>
            <label class="clr-control-label clr-required-mark">Prep Date</label>
            <input [(clrDate)]="date" formControlName="prepDate" required/>
            <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
          </clr-date-container>

        <clr-input-container>
          <label class="clr-control-label clr-required-mark">Initial Units</label>
          <input clrInput type="text" formControlName="initialUnits" required/>
          <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
        </clr-input-container>
  
          <div class="modal-footer" clrModalActions>
            <button class="btn btn-outline" (click)="showAddStockForm=false" >Cancel</button>
            <button class="btn btn-primary" [disabled]="!addStockForm.valid">OK</button>
          </div>
        </form>
  </div>
</clr-modal>
      
  