<div>
    <h2>Overview</h2>
    <br>
    <div class="label label-black">
        <span class="text">Revenue</span>
        <span class="badge">{{salesRevenue | async | currency:currency}}</span>
    </div>

    <div class="label label-red">
        <span class="text">Unapproved Orders</span>
        <span class="badge">{{numberUnApprovedOrders | async}}</span> 
    </div>
</div>



<div class="clr-row clr-no-gutters">
    <div class="clr-col-6">
        <div class="card">
            <div class="card-body">
                <div  echarts [options]="channelChart | async"></div>
            </div>
        </div>
                    
                </div>
           
            <div class="clr-col-6">
               <div class="card">
                <div class="card-body">
                    <div  echarts [options]="customerChart | async"></div>
                </div>
               </div>
                        
                    </div>

</div>
<div class="clr-row">
    
    <div class="clr-col">
        <div class="card">
            <div class="card-body">
                <div  echarts [options]="wc | async"  (chartClick)="displayDaysOfMothsChart($event)"></div>
            </div>
        </div>
       
    </div>
</div>
        
    
            
