<div>
    <clr-modal [(clrModalOpen)]="show" clrModalSize="xl" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
        <h3 class="modal-title" clrModalTitle>Sessions</h3>
        <div class="modal-body" clrModalContent>
          <form clrForm (ngSubmit)="saveSession(sessionForm)" #sessionForm="ngForm">
            <clr-select-container>
              <label>Select Type</label>
              <select clrSelect #select (change)=onChangeSessionType(select.value)>
                <option value="Takeaway">Takeaway</option>
                <option value="Dine-In">Dine-In</option>
              </select>
            </clr-select-container>
            <div *ngIf="showDineInSessionForm">
              <clr-select-container>
                <label>Select Table</label>
                <select clrSelect name="tableName" #select [(ngModel)]="table" (change)="onChangeSessionTable(select.value)">
                  <option *ngFor="let t of tables" value="{{t.name}}">{{t.name}}</option>
                </select>
              </clr-select-container>
              <clr-select-container>
                <label>Select Waiter</label>
                <select clrSelect name="waiterName" #selectwaiter [(ngModel)]="waiter" (change)="onChangeSessionWaiter(selectwaiter.value)">
                  <option *ngFor="let w of waiters"  value="{{w.name}}">{{w.name}}</option>
                </select>
              </clr-select-container>
              <!-- <button class="btn btn-outline">Add Session</button> -->
            </div>
            
          </form>
         
            <div class="clr-row">
                <div class="clr-col-8">
                    <h3>Select Product(s)</h3>
                    <div class="cart-container">
                      <div class="card clickable" *ngFor='let stock of stocks$ | async'  (click)="onSelect(stock)" class="clr-col-lg-3 cart-item-container" > 
                        <div class="card-media-block wrap">
                          <div class="card-media-image">
                            <img [src]="stock.product?.photosUrl" alt="..."  class="card-img" style="height: 100%;width: 100%;"/>
                          </div>
                          <div class="card-media-description">
                            <div class="card-media-title">{{stock.product?.name}}</div>
                            <div class="card-media-text">{{stock.product?.price | currency: currencySymbol}}</div>
                            <div class="card-media-text alert-danger" *ngIf="stock.remainingUnits === 0">Out-Of-Stock</div>
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                        
                  <!--   <li *ngFor='let product of products' (click)="onSelect(product)">
                        {{product.name}}
                      </li> -->
                    </div>
              <div class="clr-col-4">
                <order-cart [Products]="selected" [stocks]="stocks"  [SubTotal]="totalAmount" [CartItems]="cartitems" [tableSession]="tableSession" (cart)="orda" [table]="table"  [sessionType]="sessionType"></order-cart>
            </div>
            </div>
           
        </div>
        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="onCloseCart()">Close</button>
        </div>
      </clr-modal>
</div>


