<clr-modal [(clrModalOpen)]="show" clrModalSize="lg" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Annul Order?</h3>
    <div class="modal-body" clrModalContent>
      <p>If you proceed, you will not be able to retireve the Order.<br> Refund will also be paid to the customer, if Order is already completed. </p>
    </div>
    <div class="modal-footer" clrModalActions>
      <button class="btn btn-outline" (click)="show=false">Cancel</button>
      <button class="btn btn-primary" (click)="onAnnul()">Continue</button>
    </div>
  </clr-modal>