<head>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
            <cds-icon shape="plus"></cds-icon>
            Add 
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
            <cds-icon shape="pencil"></cds-icon>
            Edit
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onAnnul()" *ngIf="selected.length == 1">
            <cds-icon shape="bin"></cds-icon>
            Annul
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onReconcile()">
            <cds-icon shape="bin"></cds-icon>
            Reconcile
          </button>
        </div>
    </clr-dg-action-bar>
    
    <clr-dg-column>Order No.</clr-dg-column>
    <clr-dg-column>Total Amount</clr-dg-column>
    <clr-dg-column>Channel</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Status
      <!-- <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter> -->
  </clr-dg-column>

    <clr-dg-placeholder>We couldn't find any orders</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let element of orders"  [clrDgItem]="element" [class.highlight]="element.opened" [class.annul]="element.isCancelled">
      <clr-dg-cell>{{element.orderID}}</clr-dg-cell>
      <clr-dg-cell>{{element.totalAmount | currency: currencySymbol}}</clr-dg-cell>
      <clr-dg-cell>{{element.channel}}</clr-dg-cell>
      <clr-dg-cell>{{element.orderDate | date:'medium'}}</clr-dg-cell>
      <clr-dg-cell>{{element.orderStatus}}</clr-dg-cell>
    </clr-dg-row>
  <ng-template clrIfDetail let-element (clrIfDetailChange)= "onDetailOpen($event)">
   <clr-dg-detail>
      <clr-dg-detail-header>Order No:{{element.orderID}}</clr-dg-detail-header>
      <clr-dg-detail-body>
       <div class="clr-row">
        <div class="clr-col-6">
          <div>Date: {{element.orderDate | date:'medium'}}</div>
          <div>Payment Type:{{element.payment}}</div>
          <div>Channel:{{element.channel}}</div>
          <div>Status:{{element.orderStatus}}</div>
          <div>Notes:{{element.notes}}</div>
          <div *ngIf="element.type === 'Dine-In'">
            <div>Waiter:{{element.tableSession.waiter.name}}</div>
            <div>Table:{{element.tableSession.table.name}}</div>
          </div>
          <button class="btn btn-secondary" (click)="sendMessage(element.customer)" [disabled]="element.smsActivation">Send Message</button>
        </div>
        <div class="clr-col">
          <h6>Delivery Address</h6>
          <p>
            {{element.deliveryAddress}}
          </p>
        </div>
       </div>
        
        
        <table class="table">
          <thead>
            <tr>
              <th>Products</th>
              <th>Prices</th>
              <th>Units</th>
            </tr>
          </thead>
         <tbody>
          <tr *ngFor="let detail of element.orderDetails">
            <td>{{detail.name}}</td>
            <td>{{detail.unitPrice | currency: currencySymbol}}</td>
            <td>{{detail.quantity}}</td>
          </tr>
          <tr><td>Service Charge</td><td>{{element.serviceCharge  | currency: currencySymbol}}</td></tr>
          <tr><td>VAT</td><td>{{element.vatCharge | currency: currencySymbol}}</td></tr>
         </tbody>
         <tfoot>
          <tr>
            <td>Total</td>
            <td>{{element.totalAmount | currency: currencySymbol}}</td>
          </tr>
        </tfoot>
        </table>

        <div *ngIf="element.channel !== 'On-Site' && element.orderStatus !== 'Completed'">
          <div>
          <clr-select-container *ngIf="element.payment !== 'succeeded'">
            <label>Select Status</label>
            <select  clrSelect name="status" #status (change)="onApprove(element, status.value)">
              <option value="Unapproved">Unapprove</option>
              <option value="Approved">Approve</option>
            </select>
          </clr-select-container>
        </div>
       
        <button *ngIf="element.payment !== 'succeeded'" [disabled]='showChargeButton' class="btn btn-primary" (click)="onCharge(element)">Charge Payment</button>
        </div>
       
        
        
        <div *ngIf="paymentFeedback">
          <clr-alert  [clrAlertType]="'success'" [clrAlertAppLevel]="true">
            <clr-alert-item>
              <span class="alert-text">{{paymentFeedback}}</span>
            </clr-alert-item>
          </clr-alert>
          </div>
          <div *ngIf="paymentFeedbackError">
            <clr-alert  [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
              <clr-alert-item>
                <span class="alert-text">{{paymentFeedbackError}}</span>
              </clr-alert-item>
            </clr-alert>
            </div>
    </clr-dg-detail-body>
    </clr-dg-detail> 
  </ng-template>
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          Elements per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} elements
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>

  <edit-order></edit-order>
  <add-order [waiters]="waiters" [tables]="tables" ></add-order>
  <app-orderInSession [waiters]="waiters" [tables]="tables"></app-orderInSession>
  <order-sms></order-sms>
  <annul-order></annul-order>
  <reconcile-order [orders]="orders"></reconcile-order>
