<div>
    <clr-modal [(clrModalOpen)]="show" clrModalSize="xl" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
        <h3 class="modal-title" clrModalTitle>CheckOut</h3>
        <div class="modal-body" clrModalContent>
            <div class="clr-row">
                <div class="clr-col-8">
                    <h3>Select Product(s)</h3>
                    <div style="padding: 5px; height: 450px;">
                      <div class="card clickable" *ngFor='let product of products'  (click)="onSelect(product)" class="clr-col-lg-2" style="display: inline; float: left;"> 
                        <div class="card-img">
                          <img [src]="product.photosUrl" alt="..."/>
                        </div>
                        <div class="card-block">
                          <p class="card-text">
                            {{product.name}}<br>
                            {{product.price | currency: currencySymbol}}
                          </p>
                        </div>
                      </div>
                    </div>
                        
                  <!--   <li *ngFor='let product of products' (click)="onSelect(product)">
                        {{product.name}}
                      </li> -->
                </div>
              <div class="clr-col-4">
                <order-cart [Products]="selected" [TotalAmount]="totalAmount"></order-cart>
            </div>
            </div>
           
        </div>
        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false">Close</button>
        </div>
      </clr-modal>
</div>


  