<h3> Cart</h3>
<div *ngIf="Products" class="cartBlock">
    <div class="customerSelection-Block">
        <form clrForm clrLayout="vertical">
          <clr-select-container>
            <label >Apply Customer?</label>
            <select clrSelect name="options" [(ngModel)]="selectedCustomer" required (change)="getCustomerId($event)">
              <option  *ngFor="let customer of customers" #myInput [ngValue]='customer.recordId'>{{customer.firstName + ' ' +customer.lastName}}</option>
            </select>
          </clr-select-container>
        
          </form>
    </div>
    
    <div class="cartItems-Block">
        <table class="table table-vertical table-compact" style="margin-top: 0;">
            <tbody >
                <tr *ngFor="let item of CartItems | async">
                    <td>
                        <cds-icon shape="times" (click)="onCancel(item)"></cds-icon>
                    </td>
                    <td class="left">{{item.name}}</td>
                    <td class="left">{{item.unitPrice}}</td>
                    <td>{{item.count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="cartFinale-Block">
        <div class="clr-row" style="border-color: black;border-style: inset;">
            <div class="clr-col-4" style="font-size: large; font-weight: 300;">SubTotal:</div>
            <div class="clr-col-8" style="font-size: large; font-weight: 300;">{{SubTotal |async | currency:currencySymbol}}</div>
        </div>
        <div class="clr-row" style="border-color: black;border-style: inset;">
            <div class="clr-col-4" style="font-size: large; font-weight: 300;">VAT:</div>
            <div class="clr-col-8" style="font-size: large; font-weight: 300;">{{VatCharge| async | currency:currencySymbol}}</div>
        </div>
        <div class="clr-row" style="border-color: black;border-style: inset;">
            <div class="clr-col-4" style="font-size: large; font-weight: 300;">Service Charge:</div>
            <div class="clr-col-8" style="font-size: large; font-weight: 300;">{{ServiceCharge |async | currency:currencySymbol}}</div>
        </div>
        <div class="clr-row" style="border-color: black;border-style: inset;">
            <div class="clr-col-4" style="font-size: large; font-weight: 300;">Total:</div>
            <div class="clr-col-8" style="font-size: large; font-weight: 300;">{{TotalAmount |async | currency:currencySymbol}} </div>
        </div>
        <button style="width:100%;margin-top: 0;margin-bottom: 0; text-align: center;"   class="btn btn-primary" (click)="onLockSession()">Lock Session</button>
        <!-- <button style="width:483px;margin-top: 0;margin-bottom: 0;" [disabled]=" TotalAmount <= 0 ? true:false "  class="btn btn-primary" (click)="onLockSession()">Lock Session</button> -->
    </div>
    
    </div>
    
    <div class="height:20%">
      <form clrForm (ngSubmit)="onApply()" class="clr-row" *ngIf="vouchers.length >= 1">
        <div class="clr-col">
          <clr-select-container>
            <label>Apply Voucher</label>/>
            <select clrSelect name="options" [(ngModel)]="selectedOption" required>
              <option  *ngFor="let voucher of vouchers" [ngValue]='voucher.voucherNumber'>{{voucher.voucherNumber}} {{voucher.voucherCreditAmount | customFormat:voucher.valueType}}</option>
            </select>
          </clr-select-container>
        </div>
        <div class="clr-col">
            <button class="btn btn-primary" type="submit"  [clrLoading]="applyVouchBtn">Apply</button>
        </div>
      </form>
    </div>
                
            
        
        
       <!--  <clr-radio-container>
            <label>Payment Method</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="payment" #payment1 required value="Cash" (click)="onPaymentSelection(payment1.value)"/>
              <label>Cash</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="payment" #payment2 required value="Card" (click)="onPaymentSelection(payment2.value)"/>
              <label>Card</label>
            </clr-radio-wrapper>
          </clr-radio-container> -->
    <div *ngIf="spinnerStatus">
        <clr-spinner clrInline>Processing</clr-spinner>
        <span>{{feedBack}}</span>
      </div>
