
<clr-modal [(clrModalOpen)]="show" clrModalSize="lg" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Edit Order</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="Horizontal" (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
        <clr-select-container>
          <label>Select a Category</label>
          <select clrSelect name="status"  (change)="monitorValue()">
            <option value="one">Approve</option>
            <option value="two">UnApprove</option>
          </select>
        </clr-select-container>
      
        <clr-textarea-container>
          <label class="clr-required-mark">Notes</label>
          <textarea clrTextarea name="notes" required></textarea>
        </clr-textarea-container>
      </form>
    </div>
    <div class="modal-footer" clrModalActions>
      <button class="btn btn-outline" (click)="show=false">Cancel</button>
      <button class="btn btn-primary" >Save</button>
    </div>
  </clr-modal>
  