<h3> Cart</h3>
<div *ngIf="Products" style="height: 450px; border-radius: 2px;border-color: black;border-style: inset;position: relative;padding-bottom: 0;">
    <table class="table table-vertical table-compact" style="margin-top: 0;">
        <tbody>
            <tr *ngFor="let product of Products" style="height:2%;">
                <td>
                    <cds-icon shape="close" (click)="onCancel(product)"></cds-icon>
                </td>
                <td class="left">{{product.name}}</td>
                <td class="left">{{product.price}}</td>
            </tr>
        </tbody>
    </table>
    <div style="position: absolute;bottom: 0;overflow: hidden;">
        <div class="clr-row" style="border-color: black;border-style: inset;">
            <div class="clr-col-4" style="font-size: large; font-weight: 300;">Total:</div>
            <div class="clr-col-8" style="font-size: large; font-weight: 300;">{{TotalAmount | currency:'GBP'}}</div>
        </div>
        <button style="width:483px;margin-top: 0;margin-bottom: 0;"  class="btn btn-primary" (click)="onCharge()">Charge</button>
        <div *ngIf="spinnerStatus">
            <clr-spinner clrInline>Processing</clr-spinner>
            <span>{{feedBack}}</span>
          </div>
    </div>
    
</div>