<clr-modal [(clrModalOpen)]="show" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Add a Waiter</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="Horizontal" #waiterForm="ngForm" (ngSubmit)="onSubmit(waiterForm)" >
        <clr-input-container>
          <label>Name</label>
          <input clrInput type="text" name="name" [(ngModel)]="waiter.name" placeholder="Jane Doe"/>
        </clr-input-container>

        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false" >Cancel</button>
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </clr-modal>
