
<div class="main-container">
  <header class="header-6" *ngIf="!(isAuthenticated | async)">
    <div class="branding">
      <a  [routerLink]="['/']" class="nav-link">
        <img src="../../assets/foodloyale_logo.png" style="height:80px"/>
        <span class="title">Foodloyale</span>
      </a>
    </div>
    

      <!-- <app-loginmenu class="header-actions" [isAuthenticated]="isAuthenticated"></app-loginmenu> -->
      <div class="header-actions">
        <a class="nav-link nav-text" [routerLink]='["/login"]'>Login</a>
      </div>
     
    
  </header>
  <router-outlet></router-outlet>
</div>

    
   
    



