<clr-modal [(clrModalOpen)]="show" clrModalSize="lg" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Add New Product</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="Horizontal"  (ngSubmit)="onSubmit(productForm);" #productForm="ngForm">
        <div class='clr-form-control clr-form-compact'>
          <label class='clr-control-label'>Photo</label>
          <img class="img img-thumbnail img-responsive" src="https://placeholder.co/420x320" (click)="handleClickEvent()" id="img-thumb" style="width:200px;"/>
          <input id="fileElem" [(ngModel)]="product.photosUrl"  name="photosUrl" style="display:none" #file type="file" (change)="onfileLoaded(file.files)" class="form-control">
          <clr-control-helper>This is used by customers to view and validate the delicacy.</clr-control-helper>
        </div>
        <clr-input-container>
          <label >Name</label>
          <input clrInput type="text" name="Name" [(ngModel)]="product.name" />
        </clr-input-container>
        <clr-input-container>
          <label >Code</label>
          <input clrInput type="text" name="Code" [(ngModel)]="product.code" />
        </clr-input-container>
        <clr-input-container>
          <label>Price {{ 0 | currency:currencySymbol}}</label>
          <input clrInput type="text" name="Price" [(ngModel)]="product.price" />
        </clr-input-container>
       
        <clr-select-container>
          <label>Select a Category</label>
          <select  clrSelect name="Category"  [(ngModel)]="product.category" (change)="monitorValue()">
            <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
            <option value="New">New Category</option>
          </select>
        </clr-select-container>
        <div *ngIf="addNewCategory">
          <clr-input-container >
            <label>Add New Category</label>
            <input clrInput  type="text"  #kat/>
          </clr-input-container>
          
          <button class="btn btn-primary" (click)="addCategory(kat.value)">Add</button>
        </div>
        <clr-input-container>
          <label>Loyalty Point (Pts)</label>
          <input clrInput type="text" name="LoyaltyPoints" [(ngModel)]="product.loyaltyPoints" placeholder="20"/>
        </clr-input-container>

        <clr-combobox-container>
          <label>Favorite States</label>
          <clr-combobox [(ngModel)]="allergenSelection" name="multiSelect" clrMulti="true" required>
            <ng-container *clrOptionSelected="let selected">
              {{ selected }}
            </ng-container>
            <clr-options>
              <clr-option *clrOptionItems="let allergen of allergens; field: 'name'" [clrValue]="allergen">
                {{allergen}}
              </clr-option>
            </clr-options>
          </clr-combobox>
          <clr-control-helper>Helper text</clr-control-helper>
          <clr-control-error>There was an error</clr-control-error>
        </clr-combobox-container>
        
        <clr-textarea-container>
          <label class="clr-required-mark">Description</label>
          <textarea clrTextarea name="Description" [(ngModel)]="product.description" required></textarea>
        </clr-textarea-container>
        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false" >Cancel</button>
          <button class="btn btn-primary">OK</button>
        </div>
      </form>
    </div>
  </clr-modal>
