<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
            <cds-icon shape="plus"></cds-icon> 
            Add 
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()">
            <cds-icon shape="close"></cds-icon>
            Delete
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
            <cds-icon shape="pencil"></cds-icon>
            Edit
     </button>
        </div>
    </clr-dg-action-bar>
    
    <clr-dg-column [style.width.px]="250">Product Code</clr-dg-column>
    <clr-dg-column [style.width.px]="250">Name</clr-dg-column>
    <clr-dg-column [style.width.px]="250">Price 
        <!-- <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter> -->
     </clr-dg-column>
    <clr-dg-column [style.width.px]="250">Category</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any Products. Add new Products</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let element of elements" [clrDgItem]="element">
      <clr-dg-cell>{{element.code}}</clr-dg-cell>
      <clr-dg-cell>{{element.name}}</clr-dg-cell>
      <clr-dg-cell>{{element.price | currency:currencySymbol}}</clr-dg-cell>
      <clr-dg-cell>{{element.category}}</clr-dg-cell>
    </clr-dg-row>
  
   <clr-dg-detail *clrIfDetail="let element">
      <clr-dg-detail-header>{{element.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <div class="clr-row">
          <div class="clr-col-6">
            <table>
              <tr>
                <td>Category:</td>
                <td>{{element.category}}</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>{{element.price | currency:currencySymbol}}</td>
              </tr>
              <tr>
                <td>Description:</td>
                <td>{{element.description}}</td>
              </tr>
              <tr>
                <td>Code:</td>
                <td>{{element.code}}</td>
              </tr>
            </table>
          </div>
          <div class="clr-col-6">
            <img [src]="element.photosUrl" style="height: 200px;width: auto;"/>
          </div>
        </div>
    </clr-dg-detail-body>
    </clr-dg-detail> 
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          Elements per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} elements
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>

 <add-product [products]="elements"></add-product>
<edit-product [products]="elements"></edit-product>
<del-product></del-product>
  
