<div class="container">
    <h3>Contact Sales for Inquiry:</h3>
    <ul>
        <li>About Pricing</li>
        <li>Custom Solutions</li>
    </ul>
    <div class="clr-row">
        <div class="clr-col-6">
            <form clrForm [formGroup]="salesForm" clrLayout="vertical" (ngSubmit)="onSubmit()">
                <div class="clr-row">
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">First Name</label>
                        <input clrInput formControlName="firstName"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">Last Name</label>
                        <input clrInput formControlName="lastName"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-row">
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">Company Name</label>
                        <input clrInput formControlName="companyName"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">Company Email</label>
                        <input clrInput formControlName="companyEmail"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-row">
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">Company Telephone</label>
                        <input clrInput formControlName="companyPhoneNumber"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                    <clr-input-container class="clr-col">
                        <label class="clr-required-mark">Company Size</label>
                        <input clrInput formControlName="CompanySize"/>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-input-container>
                </div>
                <div class="clr-row">
                    <clr-textarea-container class="clr-col">
                        <label class="clr-required-mark">Message</label>
                        <textarea clrTextarea formControlName="message" cols="55" rows="10"></textarea>
                        <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    </clr-textarea-container>
                </div>
                <div class="clr-row">
                    <div class="clr-col">
                        <button [clrLoading]="contactSalesBtn" class="btn btn-primary" [disabled]="!salesForm.valid">Submit</button>
                    </div>
                    
                </div>
                
            </form>
            <div *ngIf="feedbackMessageSuccess !== undefined">
                <clr-alert [clrAlertLightweight]="true" [clrAlertType]="'success'" >
                    <clr-alert-item>
                      <span class="alert-text">{{feedbackMessageSuccess}}</span>
                    </clr-alert-item>
                    </clr-alert>
            </div>
            <div *ngIf="feedbackMessageError !== undefined">
                <clr-alert [clrAlertLightweight]="true" [clrAlertType]="'danger'">
                    <clr-alert-item>
                      <span class="alert-text">{{feedbackMessageError}}</span>
                    </clr-alert-item>
                    </clr-alert>
            </div>

        </div>
        <div class="clr-col-6">
            <p>Are you a developer or ISV and seeking Partnership?
             Visit the <a href="/become-a-partner">partnership page</a>
            </p>
        </div>
    </div>
   
</div>
