<clr-modal [(clrModalOpen)]="show" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
  <h3 class="modal-title" clrModalTitle>Delete Product(s)</h3>
  <div class="modal-body" clrModalContent>
    <li *ngFor="let item of products">{{item.name}}</li>
  </div>
  <div class="modal-footer" clrModalActions>
    <button class="btn btn-outline" (click)="show=false">Cancel</button>
    <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
  </div>
</clr-modal>
