<clr-modal [(clrModalOpen)]="show" clrModalSize="lg" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Add loyaltyPoints</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="vertical" [formGroup]="loyaltyForm" (ngSubmit)="onSubmit()" >
        <clr-input-container>
          <label class="clr-required-mark">Title</label>
          <input clrInput type="text" formControlName="title" />
          <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
        </clr-input-container>
        <clr-textarea-container>
          <label class="clr-required-mark">Description</label>
          <textarea clrTextarea  formControlName="description" required></textarea>
          <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
        </clr-textarea-container>
        <div class='clr-form-control'>
          <label class='clr-control-label'>Photo</label>
          <img class="img img-thumbnail img-responsive" src="https://placeholder.co/420x320" (click)="handleClickEvent()" id="img-thumb" style="width:200px;"/>
          <input id="fileElem" formControlName="rewardImage"  name="rewardImage" style="display:none" #file type="file" (change)="onfileLoaded(file.files)" class="form-control">
          
        </div>
        <clr-date-container>
          <label class="clr-control-label clr-required-mark">Expiry Date</label>
          <input type="date" autocomplete="off" clrDate formControlName="expiryDate" />
          <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
        </clr-date-container>
        <clr-input-container>
          <label class="clr-required-mark">Reward Point</label>
          <input clrInput type="text" formControlName="redeemPoint" />
          <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="clr-required-mark">Units</label>
          <input clrInput type="text" formControlName="units" />
          <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
        </clr-input-container>



        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false" >Cancel</button>
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </clr-modal>
