<clr-modal [(clrModalOpen)]="show" clrModalSize="lg" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Add New Voucher</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="Horizontal"  (ngSubmit)="onSubmit(voucherForm);" #voucherForm="ngForm">
        <clr-input-container>
          <label>Name</label>
          <input clrInput type="text" name="voucherName" [(ngModel)]="voucher.voucherName" />
        </clr-input-container>
        <clr-input-container>
          <label>Keyword</label>
          <input clrInput type="text" name="keyword" [(ngModel)]="voucher.keyword" />
        </clr-input-container>
        <clr-select-container>
          <label>Value Type</label>
          <select clrSelect type="text" #valueType name="valueType" [(ngModel)]="voucher.valueType"  >
            <option value="percentage">Percentage</option>
            <option value="actualValue">ActualValue</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label>Units</label>
          <input clrInput type="text" name="units" [(ngModel)]="voucher.units"/>
        </clr-input-container>
        <clr-input-container *ngIf="valueType.value === 'actualValue'">
          <label >Credit Amount {{ 0 | currency:currencySymbol}}</label>
          <input clrInput type="text" name="voucherCreditAmount" [(ngModel)]="voucher.voucherCreditAmount" />
        </clr-input-container>
        <clr-input-container *ngIf="valueType.value === 'percentage'">
          <label >Percentage</label>
          <input clrInput type="text" name="voucherCreditAmount" [(ngModel)]="voucher.voucherCreditAmount" />
        </clr-input-container>
        <clr-date-container>
            <label>Expiry Date</label>
            <input type="date" autocomplete="off" clrDate name="voucherExpirationDate" [(ngModel)]="voucher.voucherExpirationDate" />
          </clr-date-container>
          <clr-select-container>
            <label>Activation</label>
            <select clrSelect type="text" name="voucherActivation" [(ngModel)]="voucher.voucherActivation" >
              <option value="true">Enable</option>
              <option value="false">Disable</option>
            </select>
          </clr-select-container>
    
        <div class="modal-footer" clrModalActions>
          <button class="btn btn-outline" (click)="show=false" >Cancel</button>
          <button class="btn btn-primary">OK</button>
        </div>
      </form>
    </div>
  </clr-modal>
