<clr-modal [(clrModalOpen)]="showConfirmWasteDialog" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Bin Unused Stock?</h3>
    
      <div class="modal-body" clrModalContent>
        <h6>There are {{stk.remainingUnits}} of {{stk.product?.name}} left in stock.<br>
            Is it waste? .</h6>
      </div>
      <div class="modal-footer" clrModalActions>
        <button class="btn btn-outline" (click)="onConfirmNoWaste()">No</button>
        <button class="btn btn-primary" (click)="onConfirmWaste()">Yes</button>
      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="showDeleteDialog" clrModalSize="sm" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
      <h3 class="modal-title" clrModalTitle>Bin Unused Stock?</h3>
    
      <div class="modal-body" clrModalContent>
        <h6>Confirm you want to delete {{stk.product?.name}} .</h6>
      </div>
      <div class="modal-footer" clrModalActions>
        <button class="btn btn-outline" (click)="showDeleteDialog=false">Cancel</button>
        <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
      </div>
    
    
  </clr-modal>