<clr-modal [(clrModalOpen)]="show" clrModalSize="md" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Edit Reward</h3>
    <div class="modal-body" clrModalContent>
      <form clrForm clrLayout="vertical" [formGroup]="loyaltyForm" (ngSubmit)="onSubmit()" >
        <div class="clr-row">
        <div class="clr-col">
          <clr-input-container>
            <label class="clr-required-mark">Title</label>
            <input clrInput type="text" formControlName="title" />
            <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label class="clr-required-mark">Units</label>
            <input clrInput type="text" formControlName="units" />
            <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label class="clr-required-mark">Reward Point</label>
            <input clrInput type="text" formControlName="redeemPoint" />
            <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
          </clr-input-container>
          <clr-date-container>
            <label class="clr-control-label clr-required-mark">Expiry Date</label>
            <input type="date" autocomplete="off" clrDate formControlName="expiryDate" />
            <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
          </clr-date-container>
          <clr-textarea-container>
            <label class="clr-required-mark">Description</label>
            <textarea clrTextarea  formControlName="description" required [cols]="40"></textarea>
            <clr-control-error *clrIfError="'required'">This field is required!!!</clr-control-error>
          </clr-textarea-container>
      </div>
      <div class="clr-col">
        <div class='clr-form-control'>
          <label class='clr-control-label'>Photo</label>
          <img class="img img-thumbnail img-responsive" src="https://placeholder.co/420x320" (click)="handleClickEvent()" id="img-thumb" style="width:200px;"/>
          <input id="fileElem" formControlName="rewardImage"  name="rewardImage" style="display:none" #file type="file" (change)="onfileLoaded(file.files)" class="form-control">
        </div>
    </div>
    </div>
    

    <div class="modal-footer" clrModalActions>
      <button class="btn btn-outline" (click)="show=false" >Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="!loyaltyForm.valid" [clrLoading]="addButtonActivity">Add</button>
    </div>

      </form>
    </div>
  </clr-modal>
