<clr-modal [(clrModalOpen)]="show" clrModalSize="md" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Broadcast Reward</h3>
    <div class="modal-body" clrModalContent>
        <form (ngSubmit)="send()" [formGroup]="rewardForm">
            <clr-combobox-container>
                <label class="clr-required-mark">Select Recepients</label>
                <clr-combobox formControlName="recepients" clrMulti="true">
                    <ng-container *clrOptionSelected="let selected">
                        {{ selected }}
                      </ng-container>
                    <clr-options>
                        <clr-option [clrValue]='AllSelection'>All</clr-option>
                        <clr-option *clrOptionItems="let c of customers | async; field: 'name'" [clrValue]="c.firstName+' '+c.lastName">
                          {{c.firstName+' '+c.lastName }}
                        </clr-option>
                      </clr-options>
                </clr-combobox>
            </clr-combobox-container>
            <clr-textarea-container>
                <label class="clr-required-mark">Message:</label>
                <textarea clrTextarea formControlName="message" placeholder="We offering 20% off every pizza you buy. Hurry!!" cols="40" rows="5"></textarea>
                <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
            </clr-textarea-container>
            <div class="modal-footer" clrModalActions>
                <button class="btn btn-outline" (click)="show=false">Close</button>
                <button class="btn btn-primary" type="submit" [disabled]="!rewardForm.valid" [clrLoading]="sendButtonActivity">Send</button>
                
              </div>
        </form>
        </div>
       
    </clr-modal>