<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
            <cds-icon shape="plus"></cds-icon> 
            Add 
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" *ngIf="selected.length == 1">
            <cds-icon shape="times-circle"></cds-icon>
            Delete
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
            <cds-icon shape="pencil"></cds-icon>
            Edit
     </button>
     <button type="button" class="btn btn-sm btn-secondary" (click)="onBroadcast()" [disabled]="activateBroadcast" *ngIf="selected.length == 1">
      <cds-icon shape="announcement"></cds-icon>
      Broadcast
    </button>
        </div>
    </clr-dg-action-bar>
    
    <clr-dg-column >Name</clr-dg-column>
    <clr-dg-column >Code
        <!-- <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter> -->
     </clr-dg-column>
    <clr-dg-column>Credit Amount</clr-dg-column>
   
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Activation</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any Vouchers. Add new Voucher</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let element of vouchers | async" [clrDgItem]="element">
      <clr-dg-cell>{{element.voucherName}}</clr-dg-cell>
      <clr-dg-cell>{{element.voucherNumber}}</clr-dg-cell>
      <clr-dg-cell *ngIf="element.valueType === 1">{{element.voucherCreditAmount| currency:currencySymbol}}</clr-dg-cell>
      <clr-dg-cell *ngIf="element.valueType === 0">{{element.voucherCreditAmount/100| percent}}</clr-dg-cell>
      <clr-dg-cell>{{element.voucherStatus? 'Expired':'Active'}}</clr-dg-cell>
      <clr-dg-cell>{{element.voucherActivation? 'Enabled':'Disabled'}}</clr-dg-cell>
    </clr-dg-row>
  
   <clr-dg-detail *clrIfDetail="let element">
      <clr-dg-detail-header>{{element.voucherName}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <div class="clr-row">
          <table class="table table-vertical table-noborder table-compact">
            <tbody>
              <tr>
                <th>Created on</th>
                <td>{{element.voucherCreationDate | date: 'medium'}}</td>
              </tr>
              <tr>
                <th>Expires on</th>
                <td>{{element.voucherExpirationDate | date: 'medium'}}</td>
              </tr>
              <tr *ngIf="element.valueType === 1">
                <th>Type</th>
                <td>Actual Value</td>
              </tr>
              <tr *ngIf="element.valueType === 0">
                <th>Type</th>
                <td>Percentage Value</td>
              </tr>
              <tr>
                <th>Remaining Units</th>
                <td>{{element.units}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </clr-dg-detail-body>
    </clr-dg-detail> 
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          Vouchers per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} Vouchers
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>

 <add-voucher [vouchers]="vouchers"></add-voucher>
<edit-voucher [voucher]="voucher"></edit-voucher>
<del-voucher [vouchers]="selected"></del-voucher>
<voucher-sms></voucher-sms>

  
