<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
         
          <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()">
            <cds-icon shape="times-circle"></cds-icon>
            Delete
          </button>
          
        </div>
    </clr-dg-action-bar>
    
    <clr-dg-column>CustomerNo.</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Loyalty Pts 
        <!-- <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter> -->
    </clr-dg-column>
    <clr-dg-column>Total Amount Spent</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any loyal customers!</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let element of elements" [clrDgItem]="element">
      <clr-dg-cell>{{element.recordId}}</clr-dg-cell>
      <clr-dg-cell>{{element.firstName+ ' '+ ' '+element.lastName}}</clr-dg-cell>
      <clr-dg-cell>{{element.loyaltyPoints}}</clr-dg-cell>
      <clr-dg-cell>{{element.totalAmountSpent | currency:currency}}</clr-dg-cell>
      <clr-dg-cell>{{element.email}}</clr-dg-cell>
    </clr-dg-row>
  
   <clr-dg-detail *clrIfDetail="let element">
      <clr-dg-detail-header>{{element.firstName + ' '+ ' '+element.lastName}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <div class="clr-row">
          <div class="clr-col-6">
            <table>
              <tr>
                <td>CustomerNo: </td>
                <td>{{element.recordId}}</td>
              </tr>
                <tr>
                  <td>Birthday: </td>
                  <td>{{element.birthday | date}}</td>
                </tr>
                <tr>
                  <td>Last Order Date: </td>
                  <td>{{element.lastOrderDate | date}}</td>
                </tr>
                <tr>
                  <td>Total Amount Spent: </td>
                  <td>{{element.totalAmountSpent | currency: currency}}</td>
                </tr>
                <tr>
                  <td>High Spender: </td>
                  <td>{{element.highSpender}}</td>
                </tr>
                <tr>
                  <td>Favourite: </td>
                  <td>{{element.favourite}}</td>
                </tr>
                <tr>
                  <td>Loyalty Points: </td>
                  <td>{{element.loyaltyPoints}}pts</td>
                </tr>
                <tr>
                  <td>Membership: </td>
                  <td>{{element.membership}}</td>
                </tr>
            </table>
            
          </div>
          <div class="clr-col-6">
            <table>
            <tr>
              <td>House Address:</td>
              <td>{{element.houseAddress}}</td>
            </tr>
            <tr>
              <td>Email: </td>
              <td>{{element.email}}</td>
            </tr>
            <tr>
              <td>Mobile Number: </td>
              <td>{{element.mobileNumber}}</td>
            </tr>
          </table>
          </div>
        </div>
       
    </clr-dg-detail-body>
    </clr-dg-detail> 
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          Elements per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} elements
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>