<div>
    <h2>Overview</h2>
<br>
    <p>{{totalRegisteredCustomers}} registered customers</p>
    <p>{{totalMonthBirthdays}} Birthdays this month</p>
    <p>{{totalRepeatCustomers}} Repeat customers</p>
    <p>{{totalHighSpenders}} High Spenders</p>
</div>

<div class="clr-row">
    <div class="clr-col-3">
        <div class="card">
            <div class="card-block">
                <div class="card-title"> Weekly Rate of Repeat Customers</div>
                <div  echarts [options]="WRepeatChartOption"></div>
            </div>
        </div>
        
    </div>
    <div class="clr-col-3">
        <div class="card">
            <div class="card-block">
                <div class="card-title">Age Demograph of Repeat Customers</div>
                <div  echarts [options]="rPieChart"></div>
            </div>
        </div>
        
    </div>
    <div class="clr-col-3">
        <div class="card">
            <div class="card-block">
                <div class="card-title">Age Demograph of Registered Customers</div>
                <div echarts [options]="gPieChart"></div>
            </div>
        </div>
        
    </div>
    
</div>