<div>
    <h2>Overview</h2>
<br>
<div class="label label-green">
    <span class="text">Registered customers</span>
    <span class="badge">{{totalRegisteredCustomers}}</span>
</div>
<div class="label label-green">
    <span class="text">Birthdays this month</span>
    <span class="badge">{{totalMonthBirthdays}}</span>
</div>
<div class="label label-green">
    <span class="text">Repeat customers</span>
    <span class="badge">{{totalRepeatCustomers}}</span>
</div>
<div class="label label-purple">
    <span class="text">High Spenders </span>
    <span class="badge">{{totalHighSpenders}}</span>
</div>

<div class="clr-row clr-no-gutters">
    <div class="clr-col-6">
    <div class="card">
            <div class="card-block">
                <div  echarts [options]="WRepeatChartOption"></div>
            </div>
        </div>
    </div>
       <div class="clr-col-3">
        <div class="card">
            <div class="card-block">
             
                <div  echarts [options]="rPieChart"></div>
            </div>
        </div>
       </div>
       <div class="clr-col-3">
        <div class="card">
            <div class="card-block">
               
                <div echarts [options]="gPieChart"></div>
            </div>
        </div>
       </div>
    </div>
</div>
        