<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-action-bar>
        <div class="btn-group">
         
          <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()">
            <cds-icon shape="times-circle"></cds-icon>
            Delete
          </button>
          
        </div>
    </clr-dg-action-bar>
    
    <clr-dg-column>CustomerNo.</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Loyalty Pts 
        <!-- <clr-dg-string-filter [clrDgStringFilter]="myFilter"></clr-dg-string-filter> -->
    </clr-dg-column>
    <clr-dg-column>Total Amount Spent</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>

    <clr-dg-placeholder>We couldn't find any loyal customers!</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let element of elements" [clrDgItem]="element">
      <clr-dg-cell>{{element.recordId}}</clr-dg-cell>
      <clr-dg-cell>{{element.firstName+ ' '+ ' '+element.lastName}}</clr-dg-cell>
      <clr-dg-cell>{{element.loyaltyPoints}}</clr-dg-cell>
      <clr-dg-cell>{{element.totalAmountSpent | currency:currency}}</clr-dg-cell>
      <clr-dg-cell>{{element.email}}</clr-dg-cell>
    </clr-dg-row>
  
   <clr-dg-detail *clrIfDetail="let element">
      <clr-dg-detail-header>{{element.firstName + ' '+ ' '+element.lastName}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <div class="clr-row">
          <div class="clr-col-7">
            <table class="table table-vertical table-noborder table-compact">
              <tbody>
                <tr>
                  <th>CustomerNo: </th>
                  <td>{{element.recordId}}</td>
                </tr>
                <tr>
                  <th>Birthday: </th>
                  <td>{{element.birthday | date}}</td>
                </tr>
                <tr>
                  <th>Last Order Date: </th>
                  <td>{{element.lastOrderDate | date}}</td>
                </tr>
                <tr>
                  <th>Total Amount Spent: </th>
                  <td>{{element.totalAmountSpent | currency: currency}}</td>
                </tr>
                <tr>
                  <th>House Address:</th>
              <td>{{element.houseAddress}}</td>
                </tr>
                <tr>
                  <th>Email: </th>
                  <td>{{element.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clr-col-5">
            <table class="table table-vertical table-noborder table-compact">
              <tbody>
                <tr>
                  <th>High Spender: </th>
                  <td>{{element.highSpender}}</td>
                </tr>
                <tr>
                  <th>Favourite: </th>
                  <td>{{element.favourite}}</td>
                </tr>
                <tr>
                  <th>Loyalty Points: </th>
                  <td>{{element.loyaltyPoints}}pts</td>
                </tr>
                <tr>
                  <th>Membership: </th>
                  <td>{{element.membership}}</td>
                </tr>
                <tr>
                  <th>Mobile Number: </th>
                  <td>{{element.mobileNumber}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
    </clr-dg-detail-body>
    </clr-dg-detail> 
  
    <clr-dg-footer>
      <clr-dg-pagination #pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">
          Elements per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of
        {{pagination.totalItems}} elements
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>