
<clr-modal [(clrModalOpen)]="show" clrModalSize="md" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
<h3 class="modal-title" clrModalTitle>Delete Operating Time?</h3>
<div class="modal-body" clrModalBody>
    <table class="table table-compact table-noborder">
        <tbody>
            <tr *ngFor="let o of opentimes">
                <td>o.day</td>
                <td>o.startTime</td>
                <td>o.endTime</td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="modal-footer" clrModalActions>
    <button class="btn btn-outline" (click)="show=false" >Cancel</button>
        <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
</div>
</clr-modal>