<clr-modal [(clrModalOpen)]="show" clrModalSize="md" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title" clrModalTitle>Edit Operating Time</h3>
    <div class="modal-body" clrModalBody>
        <form [formGroup]="openTimesForm" (ngSubmit)="onSave()">
            <clr-combobox-container>
        <label class="clr-required-mark">Day</label>
        <clr-combobox formControlName="day" required>
          <clr-options>
            <clr-option *clrOptionItems="let day of daysOfWeek; field: ''" [clrValue]="day">
              {{ day }}
            </clr-option>
          </clr-options>
        </clr-combobox>
      </clr-combobox-container>
      <clr-input-container class="clr-col">
        <label class="clr-required-mark">StartTime</label>
        <input clrInput type="time" formControlName="startTime" >
        
        <clr-control-error *clrIfError="'required'"></clr-control-error>
      </clr-input-container>
      <clr-input-container class="clr-col">
        <label class="clr-required-mark">EndTime</label>
        <input clrInput type="time" formControlName="endTime" >
        
        <clr-control-error *clrIfError="'required'"></clr-control-error>
      </clr-input-container>
    <div class="modal-footer" clrModalActions>
        <button class="btn btn-outline" (click)="show=false" >Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="!openTimesForm.valid">Save</button>
    </div>
</form>
</div>
</clr-modal>