<form clrForm (ngSubmit)="onSubmit(paymentProviderForm)" #paymentProviderForm="ngForm">
    <clr-select-container>
        <label>Select Payment Provider</label>
        <select clrSelect name="paymentProvider.name" #select [(ngModel)]="paymentProvider.name" (change)="onChange(paymentProvider.name)">
            <option value="Stripe">Stripe</option>
            <option value="Square">Square</option>
            <option value="Ingenico">Ingenico</option>
        </select>
    </clr-select-container>
    <div *ngIf="showStripeForms">
        <clr-password-container>
            <label>Publishable Key</label>
            <input clrPassword autocomplete="current-password" placeholder="Publishable Key please!" name="paymentProvider.apiKey2" [(ngModel)]="paymentProvider.apiKey1"/>
          </clr-password-container>
          <clr-password-container>
            <label>Secret Key</label>
            <input clrPassword autocomplete="current-password" placeholder="Api Key please!" name="paymentProvider.apiKey1" [(ngModel)]="paymentProvider.apiKey2"/>
          </clr-password-container>
          <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
<div *ngIf="showSpinner">
    <clr-spinner clrInline>Processing</clr-spinner>
</div>
<clr-alert *ngIf="showFeeback" [clrAlertType]="'success'">
    <clr-alert-item>
      <span class="alert-text">{{feedBack}}</span>
    </clr-alert-item>
  </clr-alert>
